Data/ProvidedData
Data/ExtractedData/ModelTraining/FullData
Data/ExtractedData/ModelTraining/SplitData/TestSet.csv
Data/ExtractedData/ModelTraining/SplitData/TrainingSet.csv
Data/ExtractedData/ModelTraining/SplitData/ValidationSet.csv
Data/ExtractedData/ModelTraining/full_search_results.csv
Data/ExtractedData/ModelTraining/skill_vectors.pkl
Data/ExtractedData/ModelTraining/prompt_vectors.pkl
Doc2Vec/vector_failed_files.txt
HuggingFace/vector_failed_files.txt
Models/XGBoost/xgboost_training.py
Models/vector_evaluator.py
TFIDF/vector_failed_files.txt
example_env.txt
venv
Data/ExtractedData/essays_scores.csv
Logs/output.log
Models/FeatureSelection